/*generelt*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none; /*fjerner streg under links*/
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}

h2 {
    font-family: 'Playfair Display', serif;
    line-height: 60px;
    font-size: 30px;
}


/*navigation - lavet med hjælp fra video: https://www.youtube.com/watch?v=OotCLwM0-bY&list=PLAI-Y0y6XsV_YGCcQ1-3uIwNprIbAYZJq&index=11*/
nav {
    height: 100px;
    width: 100%;
    background-color: #101117;
    display: flex;
    justify-content: space-between;
    position:fixed;
    z-index: 5;
}

.logo-container {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
}

.logo {
    margin-left: 20px;
    margin-top: 10px;
    width: 120px;
}

.nav-list {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: #101117;
    float: right;
    text-align: center;
    transition: all .5s;
}

.nav-list li {
    display: none; /*none fordi den kun er synlig når check er checked*/
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-list li a {
    color: white;
    font-size: 19px;
    font-family: 'Playfair Display', serif;
}

.nav-list li a:hover {
    color: #EEFD39;
    transition: 0.5s;
}



.hamburger-btn {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px; 
    cursor: pointer;
}


#check { /*skjuler tjek boksen */
    display: none;
}

#check:checked ~ .nav-list {
    height: 370px;
}

#check:checked ~ .hamburger-btn {
    color: #EEFD39;
}



#check:checked ~ .nav-list li {
    display: block;
}


/*headeren*/
.welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 790px;
    background-color: #101117;
    color: white;
    overflow: hidden;
    padding-top: 80px;
}

.text-header {
    padding-left: 50px;
    padding-top: 70px;
}

.text-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 43px;
    letter-spacing: 3px;
    line-height: 1.05em;
}

.text-header p {
    padding-top: 17px;
    width: 225px;
    font-size: 16px;

}


.welcome img {
    width: 100%;
    max-width: 614.4px;
    min-width: 384px;
    height: auto;
    max-height: 900px;
    min-height: 515px; 
    align-self: flex-end;
    transform: translateX(-200px);
}

/*om mig*/

.wave-container {
    position: relative;
}

.wave-container img {
    width: 100%;
    height: 824px;
    position: relative;
    top: -300px;
    object-position: bottom;
    
} 

.wave-content {
    position: absolute;
    top: -30px;
    bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;   
}

/* kompetencer */
.kompetencer {
    background-color: #ffffff;
    color: #101117;
    width: 100%;
    height: 480px;
    margin-top: -310px;
    
}

.kompetencer h2 {
    padding-top: 90px;
    text-align: center;
}

.programmer {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
    margin: 20px;
    margin-top: 50px;
}

.programmer img {
    width: 90px;
    height: 90px;
}

/*PORTFOLIO*/
.portfolio {
    background-color: #FFC9C9;
    padding-bottom: 300px;
}

.portfolio h2 {
    padding-top: 40px;
    text-align: center;
    line-height: 160px;
}

.portfolio-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}


.portfolio-content img {
    width: 330px;
    height: 330px;
    border-radius: 2px;
    display: block;
    padding: 13px;
}

.produkter {
    width: 330px;
    height: 390px;
    background-color: rgb(255, 242, 242);
    border-radius: 2px;
}

.tekst {
    padding-left: 13px;
}

.tekst p {
    padding-left: 13px;
    margin-left: -13px;
}


/*kontakt*/
.kontakt {
    width: 100%;
}

.kontakt img {
    width: 100%;
    height: 600px;
    position: relative;
    top: -280px;
    object-position: bottom;
}

.kontakt-felt {
    position: absolute;
    width: 100%;
    margin-top: -630px;
}

input {
    display: flex;
    flex-direction: row;
    width: 77%;
    border: solid 2px white;
    font-family: 'Poppins', sans-serif;
    color: #101117;
    padding: 10px;
    margin: 10px;
    margin-left: 50px;
    opacity: 0.7;
    border-radius: 2px;
}

input:focus {
    outline: solid 2px rgb(255, 255, 255);
    opacity: 1;
}


.kontakt-felt h2 {
    padding-left: 50px;
    color: white;
}

button {
    width: 80px;
    border: solid 2px white;
    font-family: 'Poppins', sans-serif;
    color:#101117;
    padding: 10px;
    margin: 10px;
    margin-left: 50px;
    background: white;
    border-radius: 2px;

}

button:hover {
    background-color: #EEFD39;
    /*border: solid 2px #101117;*/
    border: solid 4px #EEFD39;
    top: -1px;
    width: 82px;
    margin-left: 50px;
}

/*footer*/
.footer {
    margin-top: -180px;
    padding-bottom: 50px;
    text-align: center;
}

.some {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.some a {
    width: 60px;
    height: 60px;
    text-decoration: none;
    margin: 0 18px;
    border-radius: 50%;
    background-color: #101117;
    color: white;
}

.some a .fa-brands {
    font-size: 40px;
    line-height: 60px;
}

.some a:hover {
    background-color:#EEFD39;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.footer p {
    padding-top: 40px;
    color: rgb(113, 113, 113);
}




@media only screen and (min-width: 820px) {

    h2 {
        font-size: 45px;
        line-height: 80px;
    }
    .hamburger-btn {
        display: none;
    }



    .nav-list {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        float: right;
        text-align: right;
        margin-right: 25px;
        transition: none;
    }

    .nav-list li {
        display: inline-block;
        opacity: 1;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .text-header {
        padding-left: 100px;
    }

    .text-header h1{
        font-size: 100px;
    }

    .text-header p {
        width: 500px;
        font-size: 18px;
    }


    .welcome img {
        width: 80%;
        max-width: 614.4px;
        min-width: 384px;
        height: auto;
        max-height: 900px;
        min-height: 515px; 
        margin-right: auto; 
        align-self: flex-end;
        transform: translateX(0px);
        transform: translateY(80px);
    }

    /*om mig*/
    .wave-content {
        padding-left: 100px;
        padding-right: 100px;
    }

    .wave-container img {
        height: 600px;
    }

    /*kompetencer*/
    .programmer {
        gap: 70px;
    }

    /*portfolio*/
    .produkter {
        width: 450px;
        height: 510px;
    }

    .portfolio-content img {
        width: 450px;
        height: 450px;
    }

    .portfolio-content {
        gap: 50px;
        padding: 15px;
    }

    .portfolio p {
        padding-left: 100px;
        padding-right: 100px;
    }

    .tekst p {
        margin-left: -100px;
    }

    .kontakt-felt {
        padding-left: 100px;
        padding-right: 200px;
    }
  

    input {
        width: 50%;
    }
}



